/* Navigation Section */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 130px;
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}
.nav a{
    text-decoration: none;
    color: #8987A1;
}
.nav .cart{
    color: #000000;
    font-weight: 400;
}
.nav a:hover {
  color: #252432;
  border-bottom: 2px solid #E91E63;
}
.nav .home{
    color: #252432;
    font-weight: bold;
}
/* Banner Section */
.banner{
    display: flex;
    margin-top: 221px;
    margin-left: 130px;
    margin-right: 130px;
    align-items: center;
}
.banner-title{
    font-size: 4.06em;
    margin-bottom: 5px;
    margin-top: auto;
}
.banner-discription{
    color: #00000088;
    font-size: medium ;
    font-weight: 500;
    font-family: inter;
}
.colorOrenage{
    color: #E95A08;
}

/* Our Plants Section */
.our-plant-section{
    margin-top: 120px;
    margin-left: 130px;
    margin-right: 130px;
}
.our-plant-section{
    text-align: center;
}
.plant-title{
    font-size: 3em;
    font-weight: 600;
}
.plant-discription{
    font-size: medium;
    font-weight: 400;
    font-family: inter;
    color: #00000088;
}

/* Card Section */
.flower-card{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 10px;
}
.flower{
    border: 0.5px solid skyblue;
}
.flower img{
    width: 100%;
}
.flower button{
  background-color: #E95A08;
  color: white;
  border: none;
  width: 270px;
  padding: 15px 50px 15px 50px ;
  cursor: pointer;
  transition: background-color 0.3s;
}
.flower button:hover{
    background-color:#e9a208 ;
    
}


/* Responsive  Small Device Section */
@media screen and (max-width: 576px) {
    /* Navigation Section */
    .nav{
        display: flex;
        margin-top: 13px;
        margin-left: 16px;
        margin-right: 16px;
        align-items: center;
        justify-content: space-between;
    }
    .nav .home , .shop , .about{
        display: none;
    }
    .nav .cart {
        width: auto; 
        font-weight: 400;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        margin-left: auto; 
}
/* Banner Section */
.banner{
    flex-direction: column-reverse;
    margin: 0 0 0 0;
}
.banner-title{
    margin-top: 5px;
    font-size: 2em;
    margin-left: 16px;
    margin-right: 16px;
}
.banner-discription{
    font-size: 14px;
    font-family: inter;
    font-weight: 300;
    margin-left: 16px;
    margin-right: 16px;
}
/* Our Plants Section */
.banner .column img{
    width:100%;
}
.our-plant-section{
    text-align: center;
    margin: 0 0 0 0 ;
}
/* Card Section */
 .flower-card {
    grid-template-columns:repeat(2, 1fr);
    margin: 0;
    justify-content: center;
  }
  .flower{
    width: 171px;
    margin: 28px 14px 28px 14px;
    gap: 5px;
  }
  .flower button{
    width: 171px;
    padding: 10px;
  }



    
}